googleapiclient
httplib2
requests
SpeechRecognition
pyttsx3
gTTS
playsound
pyaudio
wikipedia
selenium
beautifulsoup4
wolframalpha
PyYAML==3.13
chatterbot==1.0.0
chatterbot-corpus==1.2.0
oauth2client
googletrans
soundcloud-lib
Pillow